.root {
  color: var(--text);
  font-size: 12px;
}

.container {
  display: flex;
  margin-top: 4px;
}

.field {
  background-color: var(--input-back);
  padding: 8px;
  color: var(--text);
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  flex-grow: 1;
}

.controlButton {
  background-color: var(--input-back);
  padding: 8px;
  color: var(--text);
  height: 40px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}

.controlButton:last-child {
  border-radius: 0 10px 10px 0;
}
