@import url('style/vars.css');

.root {
  width: 40px;
  height: 40px;
  background-color: var(--main-color-opaque);
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease-out;
}

.root:active:not(:disabled) {
  transform: scale(0.9);
}
