@import url('../../style/vars.css');

.root {
  background-color: var(--panel-back);
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.topSide {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.doneButton {
  margin-left: auto;
}

.heading {
  font-size: 18px;
  color: var(--text);
  margin-left: 8px;
}

.bottomSide {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, 10px);
}
